@page
@model WebChat.Pages.ChatExperimental.IndexModel
@{
    ViewData["Title"] = "Chat";
}

<div class="row">
    <div class="col-10">
        <h1>Chat</h1>
    </div>
    <div class="display-only-mobile col-2 mt-4">
        <button id="sidebarToggler" class="btn chat-sidebar-toggler"><<</button>
    </div>
</div>

<div class="chat-container">
    <div class="row h-100 mr-0">
        <div class="col-11 col-sm-7 col-md-8">
            <div class="card h-100 shadow-sm">
                <div class="card-header">
                    <p id="groupName"><strong>Chat Messages</strong></p>
                    <strong id="onlineUsersCount">Online users: </strong>
                    <span hidden id="userName">@User.Identity.Name</span>
                </div>
                <div id="messagesList" class="card-body" style="overflow-y: scroll">

                </div>
                <div class="card-footer clearfix">
                    <div class="row">
                        <div class="message-no-margin col-8 col-sm-9 col-md-9 col-lg-10">
                            <textarea id="messageInput"></textarea>
                        </div>
                        <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                            <a id="sendMessage" class="btn-lg btn-info rounded-circle float-right align-content-center"><i class="fas fa-paper-plane"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="backgroundFade" class="display-only-mobile background-fade">
        </div>
        <div id="onlineUsersListSidebar" class="chat-sidebar-collapse col-6 col-sm-5 col-md-4 px-0">
            <div class="card h-100">
                <div class="card-header">
                    <b>Online users</b>
                </div>
                <div id="onlineUsersList" class="card-body" style="overflow-y: scroll">

                </div>
            </div>
        </div>
    </div>
</div>