/* Chat styles
------------------------------------------------- */
.chat-layout {
    height: 30rem;
}

.message-no-margin p {
    margin-bottom: 0 !important;
}

.message-item {
    background-color: rgba(206, 212, 218, 0.75);
    max-width: 70%;
}

.message-avatar {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width : 576px) {
    .chat-sidebar-collapse {
        position: fixed !important;
        overflow: auto;
        z-index: 1;
        right: -50vw;
        width: 100%;
        transition: ease-in-out 0.5s;
    }

    .chat-sidebar-show {
        right: 0;
    }

    .chat-sidebar-toggler {
        position: fixed !important;
        overflow: auto;
        z-index: 2;
        right: 0;
    }

    .display-only-mobile {
        display: block !important;
    }

    .background-fade {
        background-color: rgba(0,0,0, 0.0);
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        visibility: hidden;
        transition: ease-in-out 0.5s;
    }

    .background-fade-show {
        background-color: rgba(0,0,0, 0.5);
        visibility: visible;
    }
}

.display-only-mobile {
    display: none;
}
